.ctn-up{
    width: 100%;
}
.item{
    margin-top: 10px;
}

.container form .form-control {
    font-size: 14px;
}
#desc {
    height: 400px;
    width: 400px;

}


.primary-btn {
    display: inline-block;
    padding: 12px 30px;
    background-color: #D10024;
    border: none;
    border-radius: 40px;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
  }
  
  .primary-btn:hover, .primary-btn:focus {
    opacity: 0.9;
    color: #FFF;
  }

  p{
      font-size: 20px;
  }

  .item h5{
      font-size:13px;
      color: rgba(0, 0, 0, 0.579);
  }

  label {
      font-size:18px;
  }

.item label {
    font-size:12px;
}