.card-title{
    font-size: 35px;
}

.primary-btn {
    display: inline-block;
    padding: 12px 30px;
    background-color: #D10024;
    border: none;
    border-radius: 40px;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
  }
  
  .primary-btn:hover, .primary-btn:focus {
    opacity: 0.9;
    color: #FFF;
  }

  .row-event{
    margin: 60px;
}

.ctn-event{
    margin-bottom: 60px;
}

#card-img {
  display: flex;
  justify-content: center;
  margin-bottom:20px;
}

.card-body-content h6 {
  font-size: 18px;
}

.card-body-content p {
  font-size: 18px;
}